# Directorio de dependencias de Node.js
node_modules/

# Directorio de salida de compilación
dist/

# Archivos de variables de entorno
.env

# Otros archivos comunes que se deben ignorar en proyectos Node.js
npm-debug.log*
yarn-debug.log*
.DS_Store # Para usuarios de macOS
.vscode/ # Para usuarios de VS Code